@page
@model OgWeb.Pages.Offers.DeleteModel

<form method="post">
    <input hidden asp-for="Offer.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Offer</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Offer.Name"></label>
            <input asp-for="@Model.Offer.Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Offer.Desc"></label>
            <input asp-for="Offer.Desc" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Offer.Quantity"></label>
            <input asp-for="Offer.Quantity" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Back to List</a>
    </div>


</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
