@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Voile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center ">
        <div class="container d-flex flex-column align-items-center">
            <div>
                <a href="/"><img class="w-100" src="/img/misc/voile-large.jpg" alt="voile-info"></a>
            </div>
            <div class="section-title">
                <h1 class="mt-3">SAILING</h1>
                <h2>Paris 2024 Olympic Games - July 26 to August 11, 2024</h2>
            </div>
            <div class="d-flex justify-content-center">
                <h1 style="color:#24b7a4">
                    <a href="/"><i class="bi bi-house-up-fill"></i></i></a>
                    <a onclick="window.history.back()"><i class="bi bi-arrow-left-circle-fill"></i></a>
                </h1>
            </div>
            <div class="justify-content-center">
                <div>
                    <h3 class="title"><i class="bi bi-yin-yang"></i> History</h3>
                    <h4>
                        <p>International sailing races began when members of the New York Yacht Club decided, in 1851, to participate in a race in England. To do this, they built a 30-meter boat, called America. Once in England, they won the race, called the Hundred Guineas Cup. From that moment, the race was renamed the America's Cup, in memory of the first international sailing race.</p>
                        <p>Since the first Olympic Games of the modern era, sailing has been on the Olympic program. However, the poor conditions which reigned on April 1, 1896 in Athens forced the organizers to cancel the events. The first events held will therefore be those of the 1900 Olympic Games in Paris. Since then, the categories authorized in the competition have been constantly evolving. The different events are organized according to the one-design categories of the boats, that is to say their size and weight.</p>
                    </h4>
                </div>
                <br />
                <div>
                    <h3 class="title"><i class="bi bi-yin-yang"></i> In short</h3>
                    <h4>
                        <p>Sailing consists of moving with a boat, using only the power of the wind. The conditions, always changing, require a lot of technique and experience from the athletes to master. The rules of the international sailing federation, World Sailing, are applied for the Olympic events. The competitions are made up of fleet regattas, which pit identical boats against each other on the same varied course.</p>
                        <p>Ten events took place during the Tokyo Games, from windsurfing to the Nacra 17 mixed event, including the 49ers and the 470. The different sailing disciplines are constantly evolving, and the sailboats used are designed to be increasingly smaller and lighter, requiring ever greater athletic and technical abilities from sailors. Two events never before seen at the Olympic Games will see the light of day in Paris in 2024: IQ foil windsurfing and formula kiting.</p>
                    </h4>
                </div>
                <br />                
                <div>
                    <h3 class="title"><i class="bi bi-yin-yang"></i> Events</h3>
                    <div>
                        <ul>
                            <li><h4>Men's windsurfing</li></h4>
                            <li><h4>Men's kitesurfing</li></h4>
                            <li><h4>Men’s dinghy</li></h4>
                            <li><h4>Men's skiff</li></h4>
                            <li><h4>Windsurfing women</li></h4>
                            <li><h4>Women's kitesurfing</li></h4>
                            <li><h4>Women’s dinghy</li></h4>
                            <li><h4>Women's skiff</li></h4>
                            <li><h4>Mixed dinghy</li></h4>
                            <li><h4>Mixed multihull</li></h4>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- End #header -->
    <partial name="_FooterLayoutNull" />
</body>
</html>
