@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.EventTitle" class="control-label"></label>
                <input asp-for="Event.EventTitle" class="form-control" />
                <span asp-validation-for="Event.EventTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventDesc" class="control-label"></label>
                <input asp-for="Event.EventDesc" class="form-control" />
                <span asp-validation-for="Event.EventDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Price" class="control-label"></label>
                <input asp-for="Event.Price" class="form-control" />
                <span asp-validation-for="Event.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.StartDate" class="control-label"></label>
                <input asp-for="Event.StartDate" class="form-control" />
                <span asp-validation-for="Event.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.SiteId" class="control-label"></label>
                <select asp-for="Event.SiteId" class="form-control"
                        asp-items="@Model.SiteNameSL">
                    <option value="">-- Select Site --</option>
                </select>
                <span asp-validation-for="Event.SiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.CategoryId" class="control-label"></label>
                <select asp-for="Event.CategoryId" class="form-control"
                        asp-items="@Model.CategorieNameSL">
                    <option value="">-- Select Categorie --</option>
                </select>
                <span asp-validation-for="Event.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
