<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="d-flex copyright align-items-center justify-content-center">
        <div>
            &copy; Copyright <strong><span>Paris JO 2024</span></strong>. All Rights Reserved
        </div>
        <div>
            <a asp-area="" asp-page="/Terms-of-service">&nbsp;&nbsp;Conditions d'utilisation</a>
        </div>
        <div>
            <a asp-area="" asp-page="/Privacy">&nbsp;&nbsp;Politique de confidentialité</a>
        </div>
    </div>
</footer><!-- End #footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Template Main JS File -->
<script src="~/js/main.js"></script>