        <!-- ======= Contact Us Section ======= -->
<main id="main">
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>Contact Us</h2>
                <h3>If you need information about the route of the opening ceremony of the Olympic games</h3>
            </div>
            <div class="row">
                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location</h4>
                            <p>Tour Eiffel, Paris</p>
                        </div>
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email</h4>
                            <p>info@paris.jo</p>
                        </div>
                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call</h4>
                            <p>+33 1 2607 2024</p>
                        </div>
                        <div class="d-flex align-items-stretch">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d45782.38134998337!2d2.315213796852532!3d48.878911284671766!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sTour%20Eiffel!5e0!3m2!1sfr!2sfr!4v1715182951617!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>
                </div>
                <div class="col-lg-7 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Route in the city</h4>
                            <p>The route of the ceremony can be adapted depending on the security context.</p>
                        </div>
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Subscribe to information alerts</h4>
                            <p>
                                <a href="https://anticiperlesjeux.gouv.fr/impacts-routes/impacts-routes-jeux-olympiques-paris-2024">
                                Impacts on roads during the Paris 2024 Olympic Games
                                </a>
                            </p>
                        </div>
                        <div class="d-flex align-items-stretch">
                            <iframe src="~/img/misc/parcours-ceremonie-ouverture.jpg" width="590" height="390" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Us Section -->
</main><!-- End #main -->

<partial name="_Footer" />